In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\user\AppData\Local\Temp\ipykernel_5664\3090805088.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<b> Which type of data can be used while creating a series object in pandas? </b>
,

-Series
-Scalars 
-Numpy Series 
-Another Serieses.
<b>int,float,str</b>

In [12]:
#2nd question

month_series = {
'January' : 1,
'February' : 2,
'March' : 3, 
'April' :4,
'May':5,
'June' :6,
'July':7,
'August':8,
'September':9,
'October':10,
'November': 11,
'Decembar':12
}

me_series = pd.Series(month_series)
print(me_series)

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
Decembar     12
dtype: int64

In [23]:
#3rd question
import os
import time
import platform
def clear_screen():
    if platform.system() == "Windows":
        os.system('cls')
    else:
        os.system('clear')


students = {
'MatMie' : 1,
'MatDais' : 2,
'COMIE' : 3,
'COMEC' : 4
}
choose_series = pd.Series(students)
print(choose_series)

students1 = {
1 :'MatMie',
2 :'MatDais',
3 : 'COMIE',
4 : 'COMEC' 
}
user_input = input("Write 'ok' to clear the board: ")
if user_input == 'ok':
    clear_screen()

qua_stud = int(input('How many students you want to add? : '))
time.sleep(3)
name_of_student = input('Name of Student: ')
id_student = int(input("Id as followed in the board: "))

group_data = {
}

def group_distribution(id_student):
    if id_student == 1:
        group_data[name_of_student] = students1.get(1)
    elif id_student == 2:
        group_data[name_of_student] = students1.get(2)
    elif id_student == 3:
        group_data[name_of_student] = students1.get(3)
    elif id_student == 4:
        group_data[name_of_student] = students1.get(4)
for i in range(qua_stud):
    group_distribution(id_student)

ans = pd.Series(group_data)
print(ans)

MatMie     1
MatDais    2
COMIE      3
COMEC      4
dtype: int64

Write 'ok' to clear the board:  ok
How many students you want to add? :  2
Name of Student:  Nur
Id as followed in the board:  2

Nur    MatDais
dtype: object

In [5]:
#4 question
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data_frame = pd.DataFrame(exam_data, index=labels)

print(data_frame)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data_frame = pd.DataFrame(exam_data, index=labels)
sorted_frame = data_frame[data_frame['attempts']>2]
sorted_frame

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes